/Gerência/Banco de Dados e Login/LoginApp/build/
/Gerência/Banco de Dados e Login/LoginApp/dist/
/Gerência/Banco de Dados e Login/LoginApp/nbproject/private/
/Gerência/Banco de Dados e Login/Login/build/
/Gerência/Banco de Dados e Login/Login/dist/
/Gerência/Banco de Dados e Login/Login/nbproject/private/
/Repositório de Fotos/Java/Captura de Fotos/build/
/Repositório de Fotos/Java/Captura de Fotos/dist/
/Repositório de Fotos/Java/Captura de Fotos/nbproject/private/
/Correcao/MainComAPI/Main/nbproject/private/