<link href="../../styles/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

body { 
  font-family: Avenir, sans-serif;
  marging: 0;
}
#marquee { 
  margin-top: 0.1rem;
    perspective: 500px;
    font-size: 0;
    font-family: Agency, sans-serif;
}
#marquee div {
    display: inline-block; 
    height: 3rem; 
    width: 100%;
    position: relative;
}
#marquee div:first-of-type { 
    background: #0277bd ;
    color: #212121;
}

#marquee div { 
    font-size: 2rem;
    overflow: hidden;
}
#marquee div span { 
    position: absolute; 
    width: 400%;    
    line-height: 1.4;
}
@keyframes leftcrawl {
    to { transform: translateX(-100rem); }
}

#marquee div:first-of-type span {
    transform: translateX(130rem);
    animation: leftcrawl 22s linear infinite;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.3);
}

#file_path{
    width: 50%;
}

